<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="MemberMapper">
  	<!-- Join Member -->
  	<insert id="joinMember" parameterType="com.choa.member.MemberDTO">
  		insert into member values(#{id},#{pw},#{name},#{age},#{grade},#{fileName},#{oriName})
  	</insert>
  	
	<select id="loginMember" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.MemberDTO">
		select * from member where id=#{id} and pw= #{pw}
	</select>
  	
  </mapper>